@model IEnumerable<Library.Web.Models.BookDetailsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.CoverLink)" />
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        
        <td>
            <div class="description">
                @Html.DisplayFor(modelItem => item.Description)
                @Html.Partial("DescriptionPartial", item)
                <br />

                <a class="cursor-pointer" data-toggle="modal" data-target="#@item.Id">more...</a>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Claim", "Claim", new { id=item.Id }) |
            @Html.ActionLink("Rating", "Rating", new { id=item.Id }) |
            @Html.ActionLink("Comment", "Comment", new { id=item.Id })
        </td>
    </tr>
}

</table>
