@using Library.Web.Models;
@model IEnumerable<BookDetailsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a class="cursor-pointer" id="createBookLink">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.CoverLink)" />
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.PublicationDate.ToShortDateString()
        </td>
        
        <td>
            <div class="description">
                @Html.DisplayFor(modelItem => item.Description)
                @Html.Partial("DescriptionPartial", item)
                <br />

                <a class="cursor-pointer" data-toggle="modal" data-target="#@item.Id">more...</a>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <div>
                @Html.ActionLink("Claim", "Claim", new { id = item.Id }) |
                @Html.ActionLink("Rating", "Rating", new { id = item.Id }) |
                @Html.ActionLink("Comment", "Comment", new { id = item.Id }) |
                <a id="@item.Id" class="cursor-pointer" onclick="DeleteItem(this)">Delete</a>
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

            </div>
        </td>
    </tr>
}

</table>
<div id="popupContainer">
    <div id="dlgCreateBook" class="no-scrollbar"></div>
    <div id="dlgDeleteBook" class="no-scrollbar"></div>
</div>
@section Create {
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/scripts/Custom/OnCreate")"></script>
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/scripts/Custom/OnDelete")"></script>
}

